body {
    font-family: "Poppins", sans-serif;
    margin: 0%;
    margin-block-start: 0%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

main {
    background-image: url("Images/bg.png");
    background-size: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    font-size: 4.2em;
    color: white;
    margin-top: 15%;
    margin-left: 80px;
}

nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 1;

}

#mainLogo {
    width: 13%;
    /* padding-top: 10px; */
    display: flex;
    align-items: center;
    color: white;
    margin-left: 4%;
    margin-top: 3%;
    flex-shrink: 1;
}

.logo {
    width: 20%;
    /* padding-top: 5%;
    padding-left: 5%; */
    font-weight: 500;
    align-items: center;
    flex-shrink: 1;
}

#name {
    /* display: inline; */
    padding-left: 7%;
    padding-top: 0%;
    margin: 0em;
    font-size: 0.6em;
    flex-shrink: 1;
}



nav ol {

    list-style-type: none;
    margin-left: 35%;
    margin-top: 3%;
    display: flex;
    font-size: 1em;

    /* padding-left: 10%;
    align-items: center;
    align-content: space-evenly;*/
    justify-content: space-evenly;
}

nav li a {
    color: white;
    font-size: 0.78em;
    margin-right: 70px;
    font-weight: 600;
    display: inline;
    align-items: center;
    text-decoration: none;
    transition: ease-in-out 0.2s;
    flex-shrink: 1;

}

nav li a:hover {
    text-decoration: underline;
    font-size: 0.8em;
    font-weight: 700;
}

main button {
    color: white;
    margin-bottom: 9%;
    padding: 8px 25px;
    margin-left: 80px;

    border: solid white;
    border-radius: 6px;
    border-width: 0.3px;

    background-color: #11ffee00;

    font-family: "Poppins";
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 1px;

    transition: ease-in-out 0.2s;
}

main button:hover {
    background-color: white;
    color: black;
}

.refBox {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 90%;
    height: 350px;
    margin-left: 5%;
    background-color: white;
    /* border-color: rgb(174, 48, 48); */
    border-width: 3px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 14%);
}

.refBox #info {
    /* justify-self: center; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: center; */
    margin-right: 5%;

}

.quickInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-end; */
}


.quickInfo p {
    margin: 0px;
    padding: 1px;
    font-weight: 600;
}

.quickInfo .title {
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 9px;

}

.quickInfo button {
    color: black;
    border-color: black;
    margin-left: 0;
    margin-top: 7%;
    border-width: 1px;
    font-family: "Poppins";
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 0;
    /* margin-right: 5%; */
}

.quickInfo button:hover {
    border-color: #0C2D57;
    background-color: #0C2D57;
    color: white;
}


.refBox h2 {
    align-self: center;
    font-size: 2.4em;
    font-weight: 600;
    margin-top: 3%;
}

#slogan {
    align-self: center;
    margin-top: 7%;
    margin-bottom: 4%;
}

#slogan h2 {
    font-size: 3.7em;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slogan span {
    font-family: "Permanent Marker";
    color: #FFB0B0;
}

.about {
    display: flex;
    justify-content: space-evenly;
}

.about #theme {
    margin-left: 5%;
    width: 38%;
    height: 20%;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 14%);
}

.about .des {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15%;
    margin-right: 8%;

    text-align: end;
    justify-content: center;

    font-size: 1.3em;
    font-weight: 500;
}

.about .des #secDes {
    font-weight: 300;
}

.about .des button {
    background-color: black;
    color: white;
    border-color: black;
    margin-left: 0;
    margin-top: 7%;
    border-radius: 6px;
    border-width: 0.3px;
    padding: 10px 40px;

    font-family: "Poppins";
    font-size: 0.75em;
    font-weight: 200;
    letter-spacing: 0;

    transition: ease-in-out 0.2s;
}

.about .des button:hover {
    font-weight: 300;
    background-color: white;
    color: black;
}

#programs {

    background-color: #F8F8F8;
    margin-top: 10%;
    padding-left: 10%;
    padding-right: 5%;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

#programs .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10%;
    padding-left: 5%;

}

#programs .title h3 {
    font-size: 2em;
    margin-top: 4%;
    margin-bottom: 0;
}

#programs .title h4 {
    font-size: 0.9em;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

#programs .title h5 {
    font-size: 0.7em;
    font-weight: 400;
    color: #30598E;
    margin-top: 0;
    margin-bottom: 5%;

    transition: ease-in-out 0.2s;
}

#programs .title h5:hover {
    text-decoration: underline;
}

#allBoxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 5%;
}


.programBox {
    display: flex;
    flex-direction: column;

    flex-basis: 15%;
    flex-shrink: 1;
    /* margin-left: 10%; */
    margin-right: 5%;
    margin-left: 0;
    margin-bottom: 6%;
    border: black solid 0.8px;
    border-radius: 5px;

    padding: 1% 6% 1% 1%;
    transition: ease-in-out 0.2s;
}

.programBox:hover {
    border-width: 0.1em;
    background-color: #f3f3f3;
    ;
}

.programBox h6 {
    font-size: 90%;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}

.programBox h6+h6 {
    font-weight: 200;

}

.programBox h6 span {
    font-weight: 600;
}

.programBox button {
    /* display: flex;
    flex-direction: row;
    justify-content: center; */

    /* flex-basis: 10%; */
    margin-top: 10%;

    font-size: 0.7em;
    font-weight: 600;
    padding: 3% 7%;
    font-family: "Poppins";
    border-width: 0.1em;

    border-radius: 3px;
    background-color: #11ffee00;

    transition: ease-in-out 0.2s;
}

.programBox button:hover {
    border-color: #0C2D57;
    background-color: #0C2D57;
    color: white;
}

#join {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8F8;

    padding: 0 5%;
}

#join h2 {
    font-size: 3.2em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

#join h2+h2 {
    font-size: 3.0em;
    color: #30598E;
}

#join p {
    margin-left: 26%;
    margin-right: 26%;
    text-align: center;
    font-weight: 300;
    margin-bottom: 3%;
}

#join p+div {
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;


}

#join button {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;


    border: black solid 1px;
    background-color: black;
    color: white;

    text-wrap: nowrap;

    padding: 10% 50%;
    margin-right: 30%;
    margin-left: 0;
    border-radius: 3px;


    font-weight: 300;


    font-size: 1em;

}

#join button+button {


    margin-right: 0;
    margin-left: 30%;
    /* padding: 10% 60%; */
    background-color: #F8F8F8;
    color: black;
}